<div class="content">
  <div class="main-navigation">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        [routerLink]="'/'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="main-navigation__active">
        Все задачи
      </a>
      <a mat-tab-link
        [routerLink]="'/new'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="main-navigation__active">
        Новая задача
      </a>
      <a mat-tab-link
        [routerLink]="'/search'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="main-navigation__active">
        Поиск
      </a>
    </nav>
  </div>
  
  <router-outlet></router-outlet>
</div>
