<mat-card *ngFor="let task of tasks">
  <mat-card-content>
    <mat-form-field matBadge="!" matBadgePosition="before" [matBadgeColor]="getTaskColor(task)" class="example-full-width">
      <mat-label>Имя задачи</mat-label>
      <input matInput placeholder="Имя задачи" [value]="getTaskTitle(task)">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Описание задачи</mat-label>
      <input matInput placeholder="Описание задачи" [value]="task.description">
    </mat-form-field>
    <mat-card-actions>
      <button (click)="onOpenTask(task.id)" mat-raised-button>Детали</button>
      <button (click)="onDeleteTask(task.id)" mat-raised-button>Удалить</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
